.citizen_star {
	stroke:#A87;
	fill-opacity:0;
}

.citizen_attributes {
	stroke:#F00;
	fill:#F00;
	fill-opacity:0.5;
}

.aspects_star {
	stroke:#A87;
	fill-opacity:0;
}

.citizen_aspects {
	fill-opacity:0.5;
}

#place_navigation_block {
	float: right;
	margin: 1% 1%;
	width: 33%;
}

.place_navigation p{
	height: 1.1em;
	vertical-align: middle;
	padding: 1%;
	margin: 1%;
	cursor:pointer;
}

.place_navigation p:hover{
	font-weight:bold;
}

.place_navigation .back{
	font-style:italic;
	font-size: 0.7em;
}
.place_navigation .back:hover{
	font-weight:normal;
	text-decoration:underline;
}

#citizen_story_block {
	float: right;
	margin: 1% 1%;
	width: 98%;
}

#place_citizens_block {
	float: right;
	margin: 1% 1%;
	width: 33%;
}

#place_citizens_block p{
	height: 1.1em;
	vertical-align: middle;
	padding: 1%;
	margin: 1%;
	cursor:pointer;
}

#place_citizens_block p:hover{
	font-weight:bold;
}

.dialog p{
	min-height: 1.3em;
	vertical-align: middle;
	padding: 1%;
	margin: 1%;
	text-align: left;
	cursor: pointer;
}

.dialog p.close{
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	cursor: pointer;
}

.dialog p.close:hover{
	text-decoration: underline;
}

.dialog p.reply{
	text-align: right;
}

.dialog p.reply:hover{
	font-weight:bold;
}

.dialog p.used{
	text-decoration:line-through;
	cursor:unset;
}

.dialog p.used:hover{
	font-weight:normal;
}

#place_items_block {
	float: right;
	margin: 1% 1%;
	width: 33%;
}

